APScheduler==3.5.3
asn1crypto==0.24.0
certifi==2019.3.9
cffi==1.11.5
chardet==3.0.4
Click==7.0
cryptography==2.4.2
dash==0.36.0
dash-core-components==0.43.0
dash-html-components==0.13.5
dash-renderer==0.17.0
decorator==4.3.0
Flask==1.0.2
Flask-BasicAuth==0.2.0
Flask-Compress==1.4.0
Flask-SQLAlchemy==2.3.2
Flask-Testing==0.7.1
idna==2.8
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.10.1
jsonschema==2.6.0
jupyter-core==4.4.0
MarkupSafe==1.1.0
mkl-fft==1.0.10
mkl-random==1.0.2
nbformat==4.4.0
numpy==1.15.4
pandas==0.24.0
plotly==3.5.0
psycopg2==2.7.6.1
pycparser==2.19
pyOpenSSL==18.0.0
PySocks==1.6.8
python-dateutil==2.7.5
python-dotenv==0.10.1
pytz==2018.9
requests==2.21.0
retrying==1.3.3
six==1.12.0
spotipy==2.4.4
SQLAlchemy==1.2.16
tinytag==1.2.2
traitlets==4.3.2
tzlocal==1.5.1
urllib3==1.24.1
Werkzeug==0.14.1
win-inet-pton==1.0.1
wincertstore==0.2
