body {
    background-color: #ffffff;
}

h1 {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}

.error {
  color: red;
  font-size: .8em;
}

.container {
  padding-top: 60px;
}

.bg-primary{
    background-color: #1DB954 !important;
    border: 0px;
}

.btn-primary {
    color: #223284 !important;
    background-color: #ffffff !important;
    border-color: #6384d0#6 !important;
}
.view-logo img {
     max-width: 100%;
     height: auto;
}

.nav-item {
    font-size: 1.125rem;
}

.navbar-brand {
    width: 6em !important;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #1DB954;
    margin: 1em 0;
    padding: 0;
}

.dash {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.dash iframe, .dash object, .dash embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
Sour

/* ---- particles.js container ---- */

#particles-js {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}