body {
    background-color: #ffffff;
}

h1 {
    color: #223284;
    font-family: 'Raleway', sans-serif;
}

.error {
  color: blue;
  font-size: .8em;
}

.container {
  padding-top: 60px;
}

.bg-primary {
    background-color: #223284 !important;
    border: 0px;
}

button:focus { outline: none; }

.btn-primary {
    color: #fffff !important;
    border-color: #6384d0 !important;
    background: #2e51a1 !important
}

.btn-primary:hover {
    color: #fffff !important;
    border-color: #6384d0 !important;
    background: #2e51a1 !important
}

.btn-primary:active {
    color: #fffff !important;
    border-color: #6384d0 !important;
    background: #6384d0 !important
    outline:none; !important
    box-shadow:none; !important
}

.btn-primary:focus {
    color: #fffff !important;
    border-color: #6384d0 !important;
    background: #6384d0 !important
    outline:none; !important
    box-shadow:none; !important
}

.view-logo img {
     max-width: 100%;
     height: auto;
}

.nav-item {
    font-size: 1.125rem;
}

.navbar-brand {
    width: 6em !important;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #6384d0;
    margin: 1em 0;
    padding: 0;
}

.dash {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.dash iframe, .dash object, .dash embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}